.gameList{
  height: 100px;
  margin-left: 50px;
  width: 100px;
  background-color: #044389;
  color: aliceblue;
}

.gameList>a:visited{
  text-decoration: none;
  color: aliceblue;
}

.list{
  display: flex;
  flex-wrap: wrap;
}

.gameTitle{
  text-align: center;
}