.gameList{
  border: 1px solid black;
  height: 150px;
  text-align: center;
  margin-left: 30px;
  width: 150px;
  background-color: #044389;
  color: aliceblue;
  margin-top: 20px;
  border-radius: 10px;
  font-size: large;
}

.gameList>a:visited{
  text-decoration: none;
  color: aliceblue;
}

.list{
  display: flex;
  flex-wrap: wrap;
}

.gameTitle{
  text-align: center;
}