.games{
  list-style: none;
}

ul{
  list-style-type: none;
  color: red;
}
li{
  list-style-type: none;
}
.foot{
  color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-left:-50px;
  height: 60px;
  background-color: aqua;
  width: 120%;
border-width: 1cap;
}

a:visited{
  text-decoration: none;
  color: black;
}