.games{
  list-style: none;
}

ul{
  list-style-type: none;
  color: red;
}
li{
  list-style-type: none;
}
.foot{
  color: #FF5A5F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-left:-50px;
  height: 60px;
  background-color: #044389;
  width: 120%;
border-width: 1cap;
}

.foot a:visited{
  text-decoration: none;
  color: white;
}

.Games, .NavLink{
  background-color: #fd4047;
  border-radius: 10px;
  padding: 5px;
}